parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 2
			path: ../Classes/System/Configuration/Provider.php
		-
			message: "#^Comparison operation \"\\<\" between int\\<1, max\\> and 1 is always false\\.$#"
			count: 1
			path: ../Classes/System/Configuration/TypoScriptConfiguration.php
		-
			message: "#^Use value object over return of values$#"
			count: 2
			path: ../Classes/Content/Scraper/Css/Url.php
		-
			message: "#^Use value object over return of values$#"
			count: 3
			path: ../Classes/Content/Scraper/Extractor/XmlTagAttribute.php
		-
			message: "#^Anonymous variable in a `\\$GLOBALS\\['TYPO3_REQUEST'\\]\\-\\>\\.\\.\\.\\(\\)` method call can lead to false dead methods\\. Make sure the variable type is known$#"
			count: 1
			path: ../Classes/System/Configuration/TypoScriptConfiguration.php
		-
			message: "#^Anonymous variable in a `\\$this\\[\\$found\\]\\-\\>\\.\\.\\.\\(\\)` method call can lead to false dead methods\\. Make sure the variable type is known$#"
			count: 3
			path: ../Classes/Domain/Model/Asset/Collection.php
		-
			message: "#^Unable to resolve the template type T in call to method static method TYPO3\\\\CMS\\\\Core\\\\Utility\\\\GeneralUtility\\:\\:makeInstance\\(\\)$#"
			count: 1
			path: ../Classes/System/Factory/AbstractDeclarationBasedFactory.php
